/*---- Font Import ----*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

/*---- Variables ----*/
:root {
  --main-background: hsl(222, 26%, 31%);
  --secondary-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background-other: hsl(225, 21%, 49%);
  --key-shadow-other: hsl(224, 28%, 35%);
  --key-background-red: hsl(6, 63%, 50%);
  --key-shadow-red: hsl(6, 70%, 34%);
  --key-background-main: hsl(30, 25%, 89%);
  --key-shadow-main: hsl(28, 16%, 65%);
  --text-dark: hsl(221, 14%, 31%);
  --text-light: #fff;
  --box-shadow: inset 0px -4px 0px 0px;
}

/*---- Global Styles ----*/
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: var(--main-background);
  font-family: "Spartan", sans-serif;
  min-width: 400px;
}

/*---- Main Container Styles ----*/
.screen-container,
.main-calculator-container,
header {
  padding: 20px;
  max-width: 353px;
  margin: auto;
}

/*---- Border Radius ----*/
.screen-container,
.main-calculator-container,
.main-calculator-container span {
  border-radius: 7px;
}

/*---- Header Styles ----*/
header {
  color: var(--text-light);
  display: flex;
  align-items: baseline;
  padding-left: 0;
  padding-right: 0;
  margin-top: 18px;
}

header h1,
header h2 {
  margin: 0;
}

header h1 {
  margin-right: auto;
}

header h2 {
  font-size: 13px;
  letter-spacing: 1.3px;
  margin-right: 17px;
}

/*---- Theme Toggle Controls ----*/
.theme-controls-container {
  position: relative;
  background-color: var(--secondary-background);
  border-radius: 20px;
  padding: 2px;
  transition: transform 0.4s;
}

.theme-controls-container label {
  position: absolute;
  top: -16px;
  font-size: 12px;
}

.theme-controls-container label[for="theme-1"] {
  left: 8px;
}

.theme-controls-container label[for="theme-2"] {
  left: 33px;
}

.theme-controls-container label[for="theme-3"] {
  left: 59px;
}

.theme-controls-container input {
  opacity: 0;
  margin: 4px;
}

.theme-controls-container:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  background-color: var(--key-background-red);
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/*---- Screen Styles ----*/
.screen-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--screen-background);
  color: var(--text-light);
}

/*---- Main Calculator Styles ----*/
.main-calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  justify-content: center;
  grid-gap: 16px;
  background-color: var(--secondary-background);
}

.main-calculator-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: var(--key-background-main);
  box-shadow: var(--box-shadow) var(--key-shadow-main);
  color: var(--text-dark);
}

.main-calculator-container span:not(.text-button),
.screen-container {
  font-size: 32px;
}

.main-calculator-container span:last-child {
  background-color: var(--key-background-red);
  box-shadow: var(--box-shadow) var(--key-shadow-red);
  color: var(--text-light);
  font-size: 20px;
}

.main-calculator-container span:nth-child(4),
.main-calculator-container span:nth-last-child(2) {
  background-color: var(--key-background-other);
  box-shadow: var(--box-shadow) var(--key-shadow-other);
  color: var(--text-light);
}

.main-calculator-container span:nth-last-child(-1n + 2) {
  grid-column-end: span 2;
}

/*---- Media Screen ----*/
@media (min-width: 500px) {
  header,
  .screen-container,
  .main-calculator-container {
    max-width: 465px;
  }

  .main-calculator-container {
    grid-gap: 21px;
    grid-template-columns: repeat(4, 88px);
  }

  .screen-container,
  .main-calculator-container {
    padding: 25px;
  }
}

/*---- Attribution Styles ----*/
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
